* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0px 25px;
  border-bottom: 1px solid var(--black-a15);
}
.todos-cont {
  width: 90%;
  margin: 0px auto;
  padding: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.container {
  width: 100%;
  height: 45px;
  padding: 8px;
  border-radius: 10px;
  background-color: burlywood;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.forms input {
  height: 45px;
  width: 400px;
  padding: 10px;
}
